PythonApplication1/__pycache__/ex007.cpython-37.pyc
PythonApplication1/CleaverProgramming/__pycache__/calendar.cpython-37.pyc
.idea/misc.xml
.idea/modules.xml
.idea/PythonApplication1.iml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.vs/slnx.sqlite
.vs/tasks.vs.json
.vs/VSWorkspaceState.json
.vscode/launch.json
.vs/Curso em Vídeo/v16/.suo
Curso em Vídeo.sln
.vs/Curso em Vídeo/config/applicationhost.config
Aulas de Python/__pycache__/ex007.cpython-37.pyc
Aulas de Python/CleaverProgramming/__pycache__/calendar.cpython-37.pyc
